<div class="row">
    <div class="col-2"  id="contentside">
      <div class="sidebar">
       <a href="/usuarios/">Registrar Personal</a>
        <a href="/zonas">Registrar Zona</a>
        <a href="/especies">Registrar Especie</a>
        <a href="#inventarioSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> Inventarios</a>
           <ul class="collapse lisst-unstyled" id="inventarioSubmenu"> 
                   <a href="#"> Semillas</a>
                   <a href="/inventarios/plantas">Plantas</a>
                   <a href="#"> Plantulas</a>

            </ul>
        
       
    </div>
    </div>
    <div class="col-10">
        <br>
        <div class="col-11">
        <div class="container">